body {
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  background-color: #D4F2DB;
}

h1 {
  text-align: center;
  color: #6290C3;
}

#recipe-list {
  font-weight: bold;
  color: #1A1B41;
  background-color: #5aa89e;
}

a {
  color: #1B7462;
}

a:hover {
  color: #23395B;
  font-style: italic;
}