body {
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  background-color: #D4F2DB;
}

h1 {
  text-align: center;
  color: #6290C3;
}

ul {
  font-weight: bold;
  color: #1A1B41;
  background-color: #5aa89e;
  padding: 8px;
  list-style-type: none;
  margin: 8px 100px;
}

.recipe {
  text-align: center;
  font-size: 20px;
}

.spanakopita, .tonkatsu {
  margin-bottom: 12px;
}

#recipe-list {
  background: #D9E8DE;
  padding: 8px;
  margin: 0 8px;
}

a {
  color: #1B7462;
}

a:hover {
  color: #23395B;
}