body {
  background-color: #7F9172;
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
  color: #2d3b36;
}

h1 {
  text-align: center;
}

h1, .section {
  color: #01161E;
}

img {
  width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
  color: #011D28;
}