body {
  background-color: #7C3626;
  font-family: 'Trebuchet MS', Tahoma, sans-serif;
}

h1 {
  text-align: center;
}

img {
  width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, .section {
  color: #FFC2AD;
}

p {
  color: #2D080A;
  text-align: justify;
}

ul, ol {
  color: #130303;
}